@using StockApp.Core.Application.ViewModels.Product
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    @if (Model.Count == null || Model.Count == 0)
    {
           <h2>No hay productos</h2>
    }else
    {
        @foreach (ProductViewModel item in Model)
        {
            <div class="row">

                <div class="col-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top img-product-size" src="@item.ImagUrl" />

                        <div class="card-body">
                            <h4>@item.Name</h4>
                            <p class="card-text">@item.Description</p>
                            <div>
                                <small class="fw-bold fs-6">@item.Price</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    }
</div>
